.formContainer {
    display: flex;
    flex-direction: row;
    padding: 50px;
  }
  
.formDelete {
    flex-direction: column;
}

form {
    padding-bottom: 30px;
    border: 2px solid var(--secondary-color);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.formCol {
    margin: 0px 15px;
    flex: 1;
}

.formHeader {
    background-color: var(--secondary-color);
    color: var(--active-color);
    padding-left: 30px;
}

.formBody {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.formLabel {
    color: var(--font-color);
    font-weight: bold;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.formInput {
    align-self: center;
    border-radius: 10px;
    border: 1.5px solid var(--secondary-color);
    background-color: transparent;
    color: var(--font-color);
    display: flex;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 5px;
    padding-left: 15px;
    width: 90%;
}


.formButtonSection {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.infoMessage { 
    color: var(--font-color);
    padding: 0px 30px;
    font-size: 12px;
    font-style: italic;
}

span.warning {
    color: var(--hover-color);
    font-weight: bold;
}