/* FOOTBAR GENERAL STYLES */

.footBar {
    animation-name: slideUp;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    align-items: center;
    background-color: var(--secondary-color);
    border-top: 5px solid var(--hover-color);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-top: 20px;
  }

  @keyframes slideUp {
    0% { border-width: 0rem;}
    50% { border-top: 0rem solid;}
    100% { border-width: .560rem;}
  }

  /* LINK GROUP STYLES */
  
  .linkSection {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  /* LINK STYLES */
  
  .linkSection > .link {
    color: var(--hover-color);
    border-left: .1rem solid var(--secondary-color);
    margin-left: .256rem;
    margin-right: .256rem;
    padding-left: .512rem;
    text-decoration: none;
  }

  /* LINK INTERACTIONS */
  
  .link:first-child {
    border:none;
  }
  
  .link:link {
    color: var(--hover-color)
  }
  
  .link:hover {
    color: var(--font-color)
  }
  
  .link:visited {
    color: var(--hover-color)
  }
  
  .link:visited:hover {
    color: var(--active-color)
  }