/* TopBar Component */

.topBar {
    animation-name: slideDown;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  
    background-color: var(--secondary-color);
    border-bottom: 0rem solid var(--active-color) ;
    display: flex;
    font-weight: bold;
    font-family: var(--special-font-family);
    padding: 12px;
    
  }
  
  @keyframes slideDown {
    0% { border-width: 0rem;}
    50% { border-bottom: 0rem solid;}
    100% { border-width: .560rem;}
  }
  
  .navOption {
    align-self: center;
    color: var(--font-color);
    font-size: var(--nav-font-size);
    padding: 0;
    text-decoration: none;
    text-align: center;
  }
  
  .navOption:hover {
    color: var(--hover-color)
  }
  
  .logoSite {
    display: flex;
    flex: 4;
    justify-content: flex-start;
    padding-left: 40px;
    padding-top: 10px;
  }
  
  img.logo {
    align-self: center;
    height: 90px;
    width: 400px;
  }
  
  .col {
    flex: 1;
  }
  
  .selected {
    color: var(--active-color);
  }