:root {

  --primary-color: #272C36;
  --secondary-color: #1B1D23;
  --background-color: #2C313C;
  --border-color: #343B48;
  --active-color: #4F9FEE;
  --hover-color: #99B5D0;
  --font-color: #FFF;
  --nav-font-size: 2rem;
  --special-font-family: 'Calibri';
  --common-font-family: 'Arial' ;
}

html {
  background-color: var(--background-color);
}