:root {

  --primary-color: #272C36;
  --secondary-color: #1B1D23;
  --background-color: #2C313C;
  --border-color: #343B48;
  --active-color: #4F9FEE;
  --hover-color: #99B5D0;
  --tag-color: #1E1E1E;
  --table-body-color: #a3a5a7;
  --font-color: #FFF;
  --nav-font-size: 2rem;
  --special-font-family: 'Roboto Slab';
  --subspecial-font-family: 'Nunito';
  --common-font-family: 'Arial';
  --font-size-header: 1.6rem;
  --font-size-body: 1rem;

}

  
  /* General Header Style */
  .generalHeader {
    background-color: var(--border-color);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-family: var(--subspecial-font-family);
    font-size: var(--font-size-header);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

@keyframes pulse {
  50% {
    opacity: .5;
  }  
}